SGY.MessageService.UnitTest/Service References/ServiceReference1/MessageServiceWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sgy.gzcustoms.gov.cn/Contracts" elementFormDefault="qualified" targetNamespace="http://sgy.gzcustoms.gov.cn/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SGY.MessageService.Web/MessageServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusCiqNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msgXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" minOccurs="0" name="SendMessageResult" nillable="true" type="q1:MesReceipt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCusCiqNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ieFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCusCiqNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCusCiqNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadCustomsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusCiqNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadCustomsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadCustomsDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadCiqData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusCiqNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadCiqDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadCiqDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAllData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ieFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusCiqNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusMsgXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciqMsgXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" minOccurs="0" name="UploadAllDataResult" nillable="true" type="q2:SaveModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCustomsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ieFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusCiqNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msgXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCustomsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" minOccurs="0" name="UploadCustomsDataResult" nillable="true" type="q3:SaveModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cusCiqNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSaveTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" minOccurs="0" name="LoginResult" nillable="true" type="q4:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwdOld" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwdNew" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveKeyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveKeyByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveKeyByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveKeyByLoginNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMsgRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMsgRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" minOccurs="0" name="ReceiveMsgRepResult" nillable="true" type="q5:CusReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>