SGY.MessageService.UnitTest/Service References/ServiceReference1/MessageServiceWCF32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GZCustoms.Application.SGY.MessageService.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MesReceipt">
    <xs:sequence>
      <xs:element name="_x003C_MessagID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MesReceipt" nillable="true" type="tns:MesReceipt" />
  <xs:complexType name="SaveModel">
    <xs:sequence>
      <xs:element name="_x003C_CusCiqNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsSuccess_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveModel" nillable="true" type="tns:SaveModel" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element name="_x003C_CusCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EntName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Guid_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LoginName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrgCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="CusReturnInfo">
    <xs:sequence>
      <xs:element name="_x003C_CusCiqNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReturnCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReturnInfo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReturnType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TaskId_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CusReturnInfo" nillable="true" type="tns:CusReturnInfo" />
</xs:schema>